<!-- {{product$ | async | json}} -->

<!-- {{productForm.value | json}} -->

<div class="container d-flex justify-content-center">
  <form [formGroup]="productForm" (ngSubmit)="addProduct()">
    <mat-card>
      <mat-card-header>
        <h2>Add Product</h2>
      </mat-card-header>
      <mat-card-content class="d-flex flex-column flex-md-row ">
        <div class="m-4">
          <div>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input
                matInput
                type="text"
                formControlName="name"
                autocomplete="autocomplete_off_randString"
              />
              <mat-error *ngIf="productForm.get('name')?.hasError('required')">
                You must enter a name
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Description</mat-label>
              <input
                matInput
                type="text"
                formControlName="description"
                autocomplete="autocomplete_off_randString"
              />
              <mat-error
                *ngIf="productForm.get('description')?.hasError('required')"
              >
                You must enter a description
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="m-4">
          <div>
            <mat-form-field>
              <mat-label>Price</mat-label>
              <input
                matInput
                type="number"
                formControlName="price"
                autocomplete="autocomplete_off_randString"
              />
              <mat-error *ngIf="productForm.get('price')?.hasError('required')">
                You must enter a price
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Discount</mat-label>
              <input
                matInput
                type="number"
                formControlName="discount"
                autocomplete="autocomplete_off_randString"
              />
              <mat-error
                *ngIf="productForm.get('discount')?.hasError('required')"
              >
                You must enter a discount
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="m-4">
          <div>
            <mat-form-field>
              <mat-label>CategoryId</mat-label>
              <input
                matInput
                type="number"
                formControlName="categoryId"
                autocomplete="autocomplete_off_randString"
              />
              <mat-error
                *ngIf="productForm.get('categoryId')?.hasError('required')"
              >
                You must enter a category id
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Quantity</mat-label>
              <input
                matInput
                type="number"
                formControlName="availableQuantity"
                autocomplete="autocomplete_off_randString"
              />
              <mat-error
                *ngIf="
                  productForm.get('availableQuantity')?.hasError('required')
                "
              >
                You must enter a quantity
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="m-4">
          <div>
              <!-- <mat-label>Image</mat-label> -->
              <input
                class="form-control"
                type="file"
                formControlName="image"
                autocomplete="autocomplete_off_randString"
                (change)="onChange($event)"
              />
              <mat-error *ngIf="productForm.get('image')?.hasError('required')">
                You must enter a image
              </mat-error>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Specification</mat-label>
              <input
                matInput
                type="text"
                formControlName="specification"
                autocomplete="autocomplete_off_randString"
              />
              <mat-error
                *ngIf="productForm.get('specification')?.hasError('required')"
              >
                You must enter a specification
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <div>
        <mat-card-footer>
          <div class="d-flex justify-content-evenly" style="margin: 2px">
            <button mat-raised-button color="primary" type="submit">
              Add
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="ClearForm()"
              type="button"
            >
              Clear
            </button>
          </div>
        </mat-card-footer>
      </div>
    </mat-card>
  </form>
</div>
