<!-- <div *ngFor="let item of productsList | async">
    <ul>{{item | json}}</ul>
</div> -->

<mat-form-field>
  <mat-label>Category</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of categoryList" [value]="food">
      {{ food }}
    </mat-option>
  </mat-select>
</mat-form-field>
<div class="container mat-elevation-z8">
  <table mat-table [dataSource]="tableData$ | async">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Product</th>
      <td mat-cell *matCellDef="let element" [routerLink]="['/', element.id]">
        {{ element.name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element" [routerLink]="['/', element.id]">
        {{ element.description }}
      </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element" [routerLink]="['/', element.id]">
        {{ element.price | currency : "INR" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let element" [routerLink]="['/', element.id]">{{ element.image }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex justify-content-between">
          <a class="edit-btn">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="edit"
              color="primary"
            >
            </mat-icon>
          </a>

          <a class="delete-btn">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="delete"
              color="accent"
            >
            </mat-icon>
          </a>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select pages"
  >
  </mat-paginator>
</div>
