<!-- {{ product$ | async | json }} -->

<mat-card class="container mat-elevation-z8">
  <mat-card-content>
    <div class="d-flex">
      <img
        [src]="imageBaseUrl + (product$ | async)?.productImage"
        width="300"
        height="300"
      />

      <div
        style="border: 2px solid black"
        class="d-flex flex-column justify-content-evenly"
      >
        <h1>{{ (product$ | async)?.name }}</h1>

        <p>
          {{ (product$ | async)?.description }}
        </p>

        <div>
          <span>{{ (product$ | async)?.price | currency : "INR" }}</span>

          <span
            >| {{ (product$ | async)?.discount ?? 0 / 100 | number }}% |
          </span>

          <del>{{ (product$ | async)?.price | currency : "INR" }}</del>
        </div>

        <div *ngIf="isLoggedIn == true">
          <span>
            <div class="btn-wrapper">
              <button mat-button class="plusminus" (click)="increase()">
                <mat-icon>add</mat-icon>
              </button>

              <span class="num">{{ quantity }}</span>

              <button mat-button class="plusminus" (click)="decrease()">
                <mat-icon>remove</mat-icon>
              </button>
            </div>
          </span>
          <span>
            <button mat-fab color="primary" type="submit" (click)="addToCart()">
              <mat-icon>shopping_cart</mat-icon>
            </button>
          </span>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <form></form>
</mat-card>

<form [formGroup]="reviewForm">
  <mat-form-field>
    <mat-label>Post your review</mat-label>
    <input
      matInput
      type="text"
      formControlName="comment"
      autocomplete="autocomplete_off_randString"
    />
  </mat-form-field>
  <button (click)="postReview()">Submit</button>
</form>
<mat-card>
  <!-- {{reviews$ | async | json}} -->
  <mat-card-content *ngFor="let item of reviews$ | async">
    <div>
      <h2>{{ item.username }}</h2>
      <p>{{ item.comment }}</p>
      <p>{{ item.createdOnDate | date }}</p>
    </div>
  </mat-card-content>
</mat-card>
