<div *ngFor="let item of cartList$ | async" class="container">
  {{ item | json }}
  <mat-card (click)="setId(item.product.id, item.id, item.quantity)">
    <mat-card-content>
      {{ item.product.name }}
      Quantity: {{ item.quantity }}
      Bill: {{(item.product.price * item.quantity) | currency:'INR'}}
      <a class="delete-btn">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="delete"
          color="accent"
          (click)="deleteCart(item.id)"
        >
        </mat-icon>
      </a>
    </mat-card-content>
  </mat-card>
</div>
prodid: {{selectedProdId}}
cartid: {{selectedCartId}}
quant: {{quantity}}
<button mat-raised-button color="primary" (click)="placeOrder()">Place Order</button>
