<div *ngFor="let item of cartList$ | async" class="container">
  {{ item | json }}
  <mat-card (click)="setId(item.product.id, item.id, item.quantity)">
    <mat-card-content>
      {{ item.product.name }}
      Quantity: {{ item.quantity }}
      Bill: {{(item.product.price * item.quantity) | currency:'INR'}}
    </mat-card-content>
  </mat-card>
</div>
prodid: {{selectedProdId}}
cartid: {{selectedCartId}}
quant: {{quantity}}
<button mat-raised-button color="primary" (click)="placeOrder()">Place Order</button>
